---
import logo from "@/assets/logo-codafolks.png";
import { Image } from "astro:assets";

import Button from "@/components/Button.astro";
const links = [
  { href: "/", text: "Home" },
  { href: "/projects", text: "Projects" },
  { href: "/blog", text: "Blog" },
];


---

<header
  class="w-full sticky top-0 px-8 py-4 grid items-center border-b border-gray-800 bg-slate-900 z-30"
>
  <nav class="flex items-center justify-between w-full max-w-7xl mx-auto">
    <a href="/" class="flex items-center">
      <Image src={logo} alt="CodaFolks logo" class="size-6 md:size-10" />
    </a>

    <ul class="flex">
      {
        links.map((link) => (
          <li>
            <Button
              as="a"
              variant="tertiary"
              href={link.href}
              class="text-gray-100"
            >
              {link.text}
            </Button>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
