---
import logo from "@/assets/rounded-logo.png";
import { Image } from "astro:assets";
const links = [
  { href: "/", text: "Home" },
  { href: "/about", text: "About" },
  { href: "/projects", text: "Projects" },
  { href: "/blog", text: "Blog" },
];
import Button from "@/components/web/button.astro";
---

<header
  class="bg-slate-950 w-full sticky top-0 p-4 grid items-center border-b border-gray-800"
>
  <nav class="flex items-center justify-between w-full max-w-7xl mx-auto">
    <Image src={logo} alt="CodaFolks logo" class="size-10" />
    <ul class="flex">
      {
        links.map((link) => (
          <li>
            <Button
              as="a"
              variant="tertiary"
              href={link.href}
              class="text-gray-100"
            >
              {link.text}
            </Button>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
