---
import Title from "@/components/web/title.astro";
const { title, description } = Astro.props;
type Props = {
  title: string;
  description: string;
};
---

<aside>
  <Title as="h3">
    {title}
  </Title>
  <p class="text-xl">{description}</p>
</aside>
