---

---

<div
  class={`
    prose dark:prose-invert
    prose-p:text-lg
    prose-h1:text-6xl 
    prose-h2:text-3xl 
    prose-h3:text-2xl 
    prose-h4:text-xl 
    prose-h5:text-lg 
    prose-h6:text-base
    prose-h1:m-0
    prose-h1:py-2
    prose-h2:m-0
    prose-h2:py-2
    prose-h3:m-0
    prose-h3:py-2
    prose-h4:m-0
    prose-h4:py-2
    prose-h5:m-0
    prose-h5:py-2
    prose-h6:m-0
    prose-h6:py-2
    prose-p:m-0
    prose-p:py-2
    prose-ul:m-0
    prose-a:text-blue-600 
    prose-p:text-justify 
    prose-img:rounded-xl 
    mx-auto 
    max-w-4xl 
    prose-h1:gradient-text
    prose-pre:rounded-lg
    prose-pre:m-0
    prose-pre:my-4
  `}
>
  <slot />
</div>
