---
import Button from "@/components/Button.astro";
import Card from "@/components/Card.astro";
import MainLayout from "@/layouts/MainLayout.astro";

const posts = Object.values(
  import.meta.glob("@/pages/posts/*.md", { eager: true }),
) as Post[];

interface Post {
  frontmatter: {
    title: string;
    description: string;
  };
  url: string;
}
---

<MainLayout>
  <div class="mx-auto w-full max-w-7xl text-gray-100">
    <div class="grid grid-cols-3 gap-4 py-8 w-full">
      {
        posts.map((post) => (
          <div class="card grid gap-4">
            <Card
              title={post.frontmatter.title}
              description={post.frontmatter.description}
            />
            <Button as="a" href={post.url}>
              Read More
            </Button>
          </div>
        ))
      }
    </div>
  </div>
</MainLayout>
<!-- <MainLayout>
  <Section id="projects" class="h-[calc(100vh-57px)]">
    <div class="flex items-center justify-center mx-auto w-full max-w-7xl">
      <Title as="h1">Blog coming soon... </Title>
    </div>
  </Section>
</MainLayout> -->
