---
import Section from "@/components/Section.astro";
import Title from "@/components/Title.astro";
import MainLayout from "@/layouts/MainLayout.astro";


---

<MainLayout>
  <Section id="projects" class="min-h-[calc(100vh-130px)]">
    <div class="flex items-center justify-center mx-auto w-full max-w-7xl">
      <Title as="h1"> Projects coming soon... </Title>
    </div>
  </Section>
</MainLayout>
