---
import GradientTitle from "@/components/web/gradient-title.astro";
import Section from "@/pages/_components/home/section.astro";
---

<Section>
  <div class="grid mx-auto w-full max-w-7xl">
    <GradientTitle as="h2" class="text-6xl py-2 font-extrabold"
      >Tools for Developers, By Developers
    </GradientTitle>
    <p class="text-2xl">
      Every tool and project at CodaFolks is built with one goal: to empower
      developers like you. From utilities that streamline your workflow to
      resources that solve common challenges, we’re here to help you code
      smarter, faster, and better.
    </p>
  </div>
</Section>
