---
import Card from "@/components/Card.astro";
import Section from "@/components/Section.astro";
import Title from "@/components/Title.astro";
---

<Section id="section-two" class="diagonal-box">
  <div class="grid w-full max-w-7xl">
    <Title as="h2"> What is CodaFolks? </Title>
    <p class="md:text-lg">
      Hi, I’m <strong>Falconiere Barbosa</strong>, and <strong>CodaFolks</strong
      > is my personal side project—a space where I share the tools, projects, and
      insights I’ve created as a developer. This isn’t just a portfolio; it’s an
      open, collaborative hub for anyone passionate about software development.
    </p>
    <p class="md:text-lg">
      CodaFolks starts as my way of sharing the projects I am building, but it’s
      grown into something more:
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 py-4">
      <Card
        title="A Showcase of My Side Projects"
        description="Explore tools and software I’ve created to solve real-world problems or just for fun."
      />
      <Card
        title="A Learning Resource"
        description="Everything (or almost) is open-source, so you can dive into the code, learn from it, and even contribute."
      />
      <Card
        title="A Consulting Agency"
        description="Looking for custom software solutions? I offer consulting services to help turn your ideas into reality."
      />
    </div>
  </div>
</Section>
