---
import GradientTitle from "@/components/web/gradient-title.astro";

import Card from "@/pages/_components/home/card.astro";
import Section from "@/pages/_components/home/section.astro";
---

<Section>
  <div class="grid mx-auto w-full max-w-7xl">
    <GradientTitle as="h2" class="text-6xl py-2 font-extrabold"
      >Join a Community of Makers
    </GradientTitle>
    <p class="text-2xl">
      CodaFolks isn’t about one person—it’s about all of us. Developers,
      problem-solvers, and creators coming together to shape the future of
      software. Here’s how you can be part of it:
    </p>
    <div class="grid grid-cols-3 gap-4 py-4">
      <Card
        title="Learn and Innovate"
        description="Access practical courses and dive into projects designed to enhance your skills."
      />
      <Card
        title="Build and Collaborate"
        description="Contribute to tools and software that developers everywhere can rely on."
      />
      <Card
        title="Grow and Inspire"
        description="Be part of a network that celebrates creativity, collaboration, and impact."
      />
    </div>
  </div>
</Section>
