---
import Title from "@/components/Title.astro";
import Card from "@/components/Card.astro";
import Section from "@/components/Section.astro";
---

<Section id="section-five">
  <div class="grid mx-auto w-full max-w-7xl">
    <Title as="h2">Let’s Build Something Amazing</Title>
    <p class="md:text-lg">
      CodaFolks is for developers who love to create, learn, and collaborate.
      Whether you’re here to explore projects, sharpen your skills, or bring an
      idea to life, you’re in the right place.
    </p>
    <p class="md:text-lg py-2">Start your journey:</p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 py-2">
      <div class="card grid gap-4">
        <Card
          title="Browse Projects"
          description="Discover innovative tools designed to solve problems and inspire."
        />
        <span class="text-sm text-gray-500">Coming soon</span>
      </div>
      <div class="card grid gap-4">
        <Card
          title="Read Blogs & Tutorials"
          description="Unlock practical coding tips and developer insights from my experience."
        />
        <span class="text-sm text-gray-500">Coming soon</span>
      </div>
      <div class="card grid gap-4">
        <Card
          title="Collaborate with Consulting Services"
          description="Have a vision? Let’s make it happen together."
        />
        <span class="text-sm text-gray-500">Coming soon</span>
      </div>
    </div>
  </div>
</Section>
