---
import Title from "@/components/Title.astro";
import Card from "@/components/Card.astro";
import Section from "@/components/Section.astro";
---

<Section id="section-three">
  <div class="grid mx-auto w-full max-w-7xl">
    <Title as="h2"> Why CodaFolks? </Title>
    <p class="md:text-lg">
      CodaFolks is driven by the belief that software is most powerful when
      shared, and learning happens best when it’s hands-on. Here’s why this
      space stands out:
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 py-4">
      <Card
        title="Built by a Developer, for Developers"
        description="As a developer myself, I know what it’s like to seek inspiration, resources, and collaboration."
      />
      <Card
        title="Open-Source and Transparent"
        description="My projects are here for you to explore, use, and learn from—no hidden agendas."
      />
      <Card
        title="Personal and Passionate"
        description="This is my side project, born from a passion for coding and a desire to make a difference."
      />
    </div>
  </div>
</Section>
