---
import Title from "@/components/Title.astro";
import Card from "@/components/Card.astro";
import Section from "@/components/Section.astro";
---

<Section id="section-three">
  <div class="grid mx-auto w-full max-w-7xl">
    <Title as="h2">Why CodaFolks?</Title>
    <p class="md:text-lg">
      CodaFolks is built on the belief that software thrives when it’s shared,
      and the best way to learn is by doing. Here’s why this space stands out:
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 py-4">
      <Card
        title="Created for Developers, by a Developer"
        description="I understand the challenges of finding inspiration, resources, and collaborators—because I’ve been there too."
      />
      <Card
        title="Open-Source and Transparent"
        description="Every project is accessible for you to explore, adapt, and learn from—no strings attached."
      />
      <Card
        title="Driven by Passion"
        description="CodaFolks is fueled by my love for coding and a commitment to creating meaningful software."
      />
    </div>
  </div>
</Section>
