---
import Card from "@/components/Card.astro";
import Section from "@/components/Section.astro";
import Title from "@/components/Title.astro";
---

<Section id="section-two" class="diagonal-box">
  <div class="grid w-full max-w-7xl">
    <Title as="h2"> Welcome to CodaFolks!</Title>
    <p class="md:text-lg">
      Hi, I’m <strong>Falconiere Barbosa</strong>, and <strong>CodaFolks</strong
      > is more than a portfolio—it’s a living, breathing hub for creativity, collaboration,
      and software innovation. It’s where I turn ideas into reality, sharing projects,
      tools, and insights I’ve developed along the way.
    </p>
    <p class="md:text-lg py-2">
      CodaFolks started as a personal side project, but it has grown into
      something much bigger:
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 py-2">
      <Card
        title="A Showcase of My Side Projects"
        description="Explore software and tools I’ve created to solve real-world problems—or simply for the joy of building."
      />
      <Card
        title="An Open Learning Resource"
        description="Dive into open-source code to learn, tinker, and even contribute your skills."
      />
      <Card
        title="A Collaborative Consulting Space"
        description="Got a vision for a custom software solution? Let’s bring it to life together."
      />
    </div>
  </div>
</Section>
