---
import GradientTitle from "@/components/web/gradient-title.astro";
import Section from "@/pages/_components/home/section.astro";
---

<Section>
  <div class="grid mx-auto w-full max-w-7xl">
    <GradientTitle as="h2" class="text-6xl py-2 font-extrabold">
      Ready to Build the Future?
    </GradientTitle>
    <p class="text-2xl">
      Explore our tools. Contribute your skills. Learn something new. Together,
      we’re crafting the software that drives tomorrow’s innovations.
    </p>
  </div>
</Section>
