---
import Title from "@/components/Title.astro";
import Card from "@/components/Card.astro";
import Section from "@/components/Section.astro";
import Button from "@/components/Button.astro";

---

<Section id="section-five">
  <div class="grid mx-auto w-full max-w-7xl">
    <Title as="h2"> Explore, Learn, and Build Together </Title>
    <p class="md:text-lg">
      CodaFolks is here for developers who love to create, learn, and make an
      impact. Start exploring today:
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 py-4">
      <div class="card grid gap-4">
        <Card
          title="Browse Projects"
          description="Discover tools and software designed to solve real-world problems and inspire innovation."
        />
        <Button variant="primary">Coming soon </Button>
      </div>
      <div class="card grid gap-4">
        <Card
          title="Read Blogs & Tutorials"
          description="Gain insights, practical knowledge, and coding tips from my development journey."
        />
        <Button variant="primary">Coming soon </Button>
      </div>
      <div class="card grid gap-4">
        <Card
          title="Collaborate with Consulting Services"
          description="Have a project in mind? Let’s work together to bring your vision to life."
        />
        <Button variant="primary">Coming soon </Button>
      </div>
    </div>
  </div>
</Section>
