---
import Footer from "@/components/Footer.astro";
import Navigation from "@/components/Navigation.astro";
---

<body class="bg-background transition-colors duration-200">
  <main>
    <Navigation />
    <slot />
    <Footer />
  </main>
</body>
