---
const { title, description } = Astro.props;
type Props = {
  title: string;
  description: string;
};
---

<div class="card text-gray-100">
  <h3 class="text-lg md:text-xl font-semibold py-2">{title}</h3>
  <p class="md:text-lg">
    {description}
  </p>
</div>
