---
import logo from "@/assets/logon-version-one.svg";
import { Image } from "astro:assets";

import Button from "@/components/Button.astro";
const links = !import.meta.env.PROD
  ? [
      { href: "/", text: "Home" },
      { href: "/projects", text: "Projects" },
      { href: "/blog", text: "Blog" },
    ]
  : [];
---

<header
  class="w-full sticky top-0 px-8 py-4 grid items-center border-b border-dark-gray  z-30 bg-dark-gray"
>
  <nav class="flex items-center justify-between w-full max-w-7xl mx-auto">
    <a href="/" class="flex items-center">
      <Image
        src={logo}
        alt="CodaFolks logo"
        width={200}
      />
    </a>

    <ul class="flex">
      {
        links.map((link) => (
          <li>
            <Button
              as="a"
              variant="link"
              href={link.href}
              class="text-gray-100 font-poppins"
            >
              {link.text}
            </Button>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
