---
import type { HTMLAttributes } from "astro/types";

type LinkProps = HTMLAttributes<"a">;

const props = Astro.props as LinkProps;
---

<a
  class="inline-flex items-center text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white"
  {...props}
>
  <slot />
</a>
