<section class="giscus mx-auto py-20 w-full"></section>

<script
  src="https://giscus.app/client.js"
  data-repo="Falconiere/falconiere.io"
  data-repo-id="R_kgDOIfYmvQ"
  data-category="Blog Post Comments"
  data-category-id="DIC_kwDOIfYmvc4Cl5X8"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
