---
import { getReadingTime } from "@/utils/readingTime";
import type { CollectionEntry } from "astro:content";

interface PostTimeInfoProps {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props as PostTimeInfoProps;
---

<div class="flex items-center text-sm dark:text-gray-400 gap-2">
  <span>{post.data.date}</span>
  <span>•</span>
  <span>{getReadingTime(post.body)}</span>
</div>
