---

---

<div class="flex gap-4 items-center justify-center">
  <a
    href="https://twitter.com/falconiererb"
    target="_blank"
    class="text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white"
  >
    <i data-lucide="twitter" class="h-5 w-5"></i>
  </a>
  <a
    href="https://github.com/falconiere"
    target="_blank"
    class="text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white"
  >
    <i data-lucide="github" class="h-5 w-5"></i>
  </a>
  <a
    href="https://www.youtube.com/@falconiere"
    target="_blank"
    class="text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white"
  >
    <i data-lucide="youtube" class="h-5 w-5"></i>
  </a>
  <a
    href="https://www.linkedin.com/in/falconiere"
    target="_blank"
    class="text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white"
  >
    <i data-lucide="linkedin" class="h-5 w-5"></i>
  </a>
</div>
<script>
  import { createIcons, Twitter, Github, Youtube, Linkedin } from "lucide";
  createIcons({
    icons: {
      Twitter,
      Github,
      Youtube,
      Linkedin,
    },
  });
</script>
