---
import Card from "@/components/Card.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { mapCollection } from "@/utils/mapCollection";
import { sortByDate } from "@/utils/sortByDate";
import { getCollection } from "astro:content";

const data = await getCollection("projects", ({ data }) => {
  return data.draft !== true || import.meta.env.MODE === "development";
});

const projects = data.map(mapCollection).sort(sortByDate);
---

<MainLayout>
  <div class="mx-auto w-full max-w-7xl text-gray-100">
    <div class="grid grid-cols-3 gap-4 py-8 w-full">
      {
        projects?.map((post) => (
          <a
            href={post.data.url}
            class="card gap-4 grid grid-rows-[auto,max-content] hover:border-fuchsia-500 transition duration-300 ease-in-out p-4 border border-gray-800 rounded-lg cursor-pointer"
          >
            <Card title={post.data.title} description={post.data.description} />
            <span class="gradient-text">Read More</span>
          </a>
        ))
      }
    </div>
  </div>
</MainLayout>
