---
import Head from "@/components/Head.astro";
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";
---

<html lang="en">
  <Head 
    title="Falconiere - Home"
    description="Falconiere is a blog about web development, design, and other tech-related topics."
    section="home"
  />
  <body class="bg-slate-900">
    <Header />
    <main id="home-main" class="p-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
